<launch>
    <let name="tf_prefix" value=""/>
    <arg name="sim" default="false"/>

    <node pkg="soccer_ipm" output="screen" exec="ipm">
        <param from="$(find-pkg-share soccer_ipm)/config/ipm.yaml"/>
        <param name="publish_frame" value="$(var tf_prefix)base_footprint"/>
        <param name="base_footprint_frame" value="$(var tf_prefix)base_footprint"/>
        <param name="use_sim_time" value="$(var sim)"/>
    </node>
</launch>
